<div class="wrapper">
  <div class="sidebar" data-color="brown" data-image="">
    <div class="sidebar-wrapper">
      <div class="logo">
        <a  class="simple-text">
          <div class="logo-img">
            <img src="/assets/img/angular2-logo-white.png"/>
          </div>
          Tempus
        </a>
      </div>
      <ul class="nav responsive-nav">

        <li *ngIf="isMobile">

          <a>
            <i class="fa fa-shopping-cart"></i>
            <p class="hidden-lg hidden-md">Carrito</p>
          </a>
        </li>


        <li *ngIf="isMobile">

          <a>
            <i class="fa fa-search"></i>
            <p class="hidden-lg hidden-md">Buscar</p>
          </a>
        </li>
        <li *ngIf="isMobile">
          <a>
            <i class="fa fa-sign-out"></i>
            <p>Cerrar sesion</p>
          </a>
        </li>
        <li class="separator hidden-lg hidden-md" *ngIf="isMobile"></li>
        <li>
          <a>
            <i class="fa fa-list-alt"></i>
            <p>Ordenes</p>
          </a>
        </li>
        <li>
          <a>
            <i class="fa fa-user-circle"></i>
            <p>Información personal</p>
          </a>
        </li>
        <!--<li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">-->
        <!--<a  [routerLink]="[menuItem.path]">-->
        <!--<i class="{{menuItem.icon}}"></i>-->
        <!--<p>{{menuItem.title}}</p>-->
        <!--</a>-->
        <!--</li>-->
      </ul>
    </div>

    <div class="sidebar-background" style="background-image: url(/assets/img/background-with-metal-cogwheels-a-clockwork-3d-model-animated-max.jpg)"></div>
  </div>

  <div class="main-panel">
    <app-user-navbar></app-user-navbar>
    <button class="  btn-watch btn-fill ">Algo</button>

  </div>
</div>
